/* 배너  */
.banner-section2{
    height:30vh;
    background-color: #a1a2a2;
    position:relative;
    margin-top:-30px;
}
.banner-write2{
    color:#fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    width:200px;
    padding-top: 20px;
    margin-left:100px;
    font-family: nanumGothic;
}
.banner-title2{
    font-size: 50px;
    font-weight: 700;
    color:#2f2f41;
    letter-spacing: -6px;
}
.banner-desc2{
    font-size:20px;
    margin-top:10px;
    letter-spacing: -3px;;
}
.banner-img2 {
    position: absolute;
    right: 20px;
    bottom: -27px;
    width: 330px;
    z-index: 1;
}
.banner-link-img2 {
    width: 250px;
    position: absolute;
    right: 37px;
    bottom: 37px;
    z-index: 0;
    opacity: 0.7;
    overflow: hidden;
}

/* 로그인 영역 */
.login-section{
    width:480px;
    margin:35px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-bottom:1px solid #d2d2d2;
    font-family: nanumGothic;
    letter-spacing: -2px;
}
.login-form{
    display:flex;
    flex-direction: column;
    width:100%;
}
.id-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.id-input{
    width: 95%;
    padding:10px;
    margin-top: 5px;
    border:none;
    border-bottom:1px solid #d2d2d2;
    transition: .5s linear;
}
.pw-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:20px 0;
}
.pw-input{
    width: 95%;
    padding:10px;
    margin-top: 5px;
    border:none;
    border-bottom:1px solid #d2d2d2;
    transition: .5s linear;
}
.id-input:focus, .pw-input:focus{
    outline: none;
    border-bottom:1px solid #3ab0e7;
}

.member-bottom-section{
    display:flex;
    justify-content: space-between;
    padding: 0 12px;
}
.login-submit {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: auto;
    font-size: 20px;
    margin: 20px 0;
    font-weight: 700;
    cursor: pointer;
}

.another-login-section{
    width:480px;
    margin:25px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: nanumGothic;
    letter-spacing:-2px;
}
.kakao-login{
    background-color: #f3db04;
    width:100%;
    display:flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 20px;
}
.kakao-login img, .naver-login img, .google-login img{
    width:20px;
    height:20px;
    margin-right: 10px;
}
.google-login{
    background-color: #000;
    color:#fff;
    width:100%;
    display:flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 20px;
}
.naver-login {
    background-color: #1fc800;
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
}

/* 회원가입폼 */
.join-section{
    font-family: nanumGothic;
    width:480px;
    margin:35px auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    margin: 0 auto !important;
    margin-bottom: 30px;
}
.join{
    margin:15px 0;
}
.join span:first-child{
    width: 100px;
    display:inline-block
}
.join input:nth-child(2){
    font-size: 16px;
    padding:5px 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    transition: .5s linear;
}
.join input:nth-child(2):focus{
    outline: none;
    border-bottom:1px solid #3ab0e7;
}
.join-section :nth-child(5){
    padding-bottom:50px;
}
.join-btns{
    display: flex;
    justify-content: center;
}
#join-btn {
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 80px;
    background: #a5a5a5;
    color: #fff;
    cursor: pointer;
}
.join-btns button{
    border-radius: 5px;
    border: none;
    background: #fdebeb;
    cursor: pointer;
}

.join-box{
    display: flex;
}
#email{
    padding: 5px 10px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    transition: .5s linear;
    margin-right: 5%;
}
#email:focus{
    outline: none;
    border-bottom:1px solid #3ab0e7;
}
#select-mail{
    width: 15%;
    font-size:13px;
}

/* 0721 */
#passForm{
    display:flex;
    flex-direction: column;
    height:100%;
    width: 96%;
}
#findId {
    width: 80%;
    margin: 30px auto;
    min-height: 200px;
}
.find-input1 {
    padding: 10px;
    width: 100%;
    border-radius: 5px !important;
    border: 1px solid #202020 !important;
}
.find-input2{
    padding:10px !important;
    border: 1px solid #202020 !important;
    border-radius: 5px !important;
    width: 100% !important;
    margin: 20px 0;
}
.find-input2:focus, .find-input1:focus{
    outline: none;
}
.find-btns-container{
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    position:relative;
}
.find-btns-container a{
    width: 50%;
    display: inline-block;
    text-align: center;
}
.find-btns-container img{
    position: absolute;
    top: 11.5px;
    width: 12px;
    right: 126px;
}
.find-btns-container button{
    width: 106%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 15px;
    border: none;
    background: #3ab0e7;
    color: #fff;
    cursor: pointer;
}
#findId {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result-id {
    font-size: 25px;
    margin:auto;
}
.go-login {
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background: #3ab0e7;
    border: none;
    width: 70%;
    text-align: center;
}
.go-pwfind {
    border: 1px solid #d2d2d2;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    background: #d2d2d2;
    border: none;
    width: 70%;
    text-align: center;
}
.liquid{
    position:relative;
    width: 100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.liquid h1{
    position:absolute;
    font-size: 40px;
    letter-spacing: -1px;
    font-family: hannam;
}
.liquid h1:nth-child(1){
    color:#d3d3d3;
    text-shadow:
        /* -2px 2px 0px #fff,
        -2px 2px 0px #fff, */
            -2px 2px 0px rgba(0,0,0,0.5);
}
.liquid h1:nth-child(2){
    color:#038bca;
    opacity: 0.5;
    animation: animate 3s ease-in-out infinite;
}
.liquid h1:nth-child(3){
    color:#038bca;
    opacity: 0.7;
    animation: animate 6s ease-in-out infinite;
}
.liquid h1:nth-child(4){
    color:#038bca;
    animation: animate 9s ease-in-out infinite;
}
@keyframes animate {
    0%,100%{
        clip-path: polygon(0 68%, 13% 57%, 30% 53%, 48% 63%, 68% 65%, 76% 54%, 89% 50%, 100% 54%, 100% 100%, 0 100%);
    }
    50%{
        clip-path: polygon(0 55%, 16% 64%, 33% 69%, 50% 65%, 66% 58%, 80% 62%, 91% 69%, 100% 72%, 100% 100%, 0 100%);

    }
}
.go-back{
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
}