<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.itjunior.mapper.FreeBoardMapper">

    <sql id="freeBoardColumns">
        title
        ,content
        ,writer
        ,create_time
        ,delete_yn
        ,category
        ,viewcnt
        ,replycnt
        ,member_idx
        ,notice_pin
    </sql>


    <!-- 모든 게시글 가져오기 -->
    <select id="selectAll" resultType="FreeBoard" parameterType="PageDto">
        SELECT * FROM tbl_board_free
        where
        delete_yn="N"
        <include refid="search" />
        ORDER BY notice_pin DESC,create_time DESC, free_idx DESC
        LIMIT #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
    </select>

    <select id="selectBoardTotalCount" resultType="int" parameterType="pageDto">
        SELECT
            COUNT(*)
        FROM
            tbl_board_free
        where
            delete_yn="N"
        <include refid="search" />
    </select>

    <!--  게시글 하나 가져오기  -->
    <select id="selectById" parameterType="int" resultType="FreeBoard">
        SELECT *
        FROM tbl_board_free
        WHERE free_idx = #{free_idx}
    </select>

    <!-- 게시글 하나 가져오기 -> 카테고리 이름포함 -->
    <select id="selectOne" parameterType="int" resultType="BoardDto">
        SELECT *, (select name from tbl_category c where c.cate_no = category) as cate_name
        FROM tbl_board_free
        WHERE free_idx = #{free_idx}
    </select>

    <!--  게시글 추가  -->
    <insert id="insertBoard" parameterType="FreeBoard">
        INSERT INTO tbl_board_free (
            <include refid="freeBoardColumns"/>
        ) VALUES (
            #{title}
            ,#{content}
            ,#{writer}
            ,NOW()
            ,#{delete_yn}
            ,#{category}
            ,0
            ,0
            ,#{member_idx}
            ,#{notice_pin}
        )


    </insert>
    
    <!--  게시글 수정  -->
    <update id="updateBoard" parameterType="FreeBoard">
        UPDATE tbl_board_free
        SET title = #{title}, content = #{content}, writer=#{writer}, update_time=NOW(),delete_time=#{delete_time},delete_yn=#{delete_yn},
            category=#{category}, viewcnt = #{viewcnt}, replycnt=#{replycnt}, member_idx=#{member_idx}
        WHERE free_idx=#{free_idx}
    </update>

    <!--  게시글 삭제  -->
    <update id="deleteBoard" parameterType="int">
        UPDATE tbl_board_free
        SET delete_time=NOW(), delete_yn="Y"
        WHERE free_idx=#{free_idx}
    </update>

    <!-- 카테고리 가져오기 -->
    <select id="category" resultType="Category">
        SELECT * FROM tbl_category WHERE cate_code=100
    </select>

    <!-- -->

    <!-- 조회수 올리기 -->
    <update id="viewcntUpdate" parameterType="int">
        UPDATE tbl_board_free
        SET viewcnt = viewcnt+1
        WHERE free_idx=#{free_idx}
    </update>

    <!-- 글추천하기 -->
    <insert id="freeLike" parameterType="FreeLike">
        INSERT INTO tbl_free_like (
            free_idx, member_idX
        ) VALUES (
            #{free_idx}, #{member_idx}
        )

    </insert>

    <!-- 글 추천 취소하기 -->
    <delete id="deleteFreeLike" parameterType="FreeLike">
        DELETE FROM tbl_free_like
        WHERE free_idx=#{free_idx} and member_idx=#{member_idx}
    </delete>

    <!-- 글 추천수가져오기 -->
    <select id="viewcnt" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM tbl_free_like
        WHERE free_idx=#{free_idx}
    </select>

    <!-- 추천 여부 가져오기 -->
    <select id="likeState" parameterType="FreeLike" resultType="int">
        SELECT COUNT(*)
        FROM tbl_free_like
        WHERE free_idx=#{free_idx} and member_idx=#{member_idx}
    </select>


    <sql id="search">
            <if test="searchType != null and searchType != ''">
                    <!-- 제목 + 내용 -->
                    <if test="searchType == 'all' ">

                        and
                        content LIKE CONCAT('%', #{searchKeyword}, '%')
                        or title LIKE CONCAT('%', #{searchKeyword}, '%')
                    </if>

                    <!-- 나머지 -->
                    <if test="searchType == 'content' ">
                        and content LIKE CONCAT('%', #{searchKeyword}, '%')
                    </if>
                    <if test="searchType == 'title'">
                        and title LIKE CONCAT('%', #{searchKeyword}, '%')
                    </if>
                    <if test="searchType == 'writer' ">
                        and writer LIKE CONCAT('%', #{searchKeyword}, '%')
                    </if>

            </if>


    </sql>
</mapper>