<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.itjunior.mapper.FreeBoardMapper">

    <sql id="freeBoardColumns">
        title
        ,content
        ,writer
        ,create_time
        ,delete_yn
        ,category
        ,viewcnt
        ,replycnt
        ,likecnt
        ,member_idx
    </sql>


    <!-- 모든 게시글 가져오기 -->
    <select id="selectAll" resultType="FreeBoard">
        SELECT * FROM tbl_board_free
    </select>

    <!--  게시글 하나 가져오기  -->
    <select id="selectById" parameterType="int" resultType="FreeBoard">
        SELECT *
        FROM tbl_board_free
        WHERE free_idx = #{free_idx}
    </select>

    <!--  게시글 추가  -->
    <insert id="insertBoard" parameterType="FreeBoard">
        INSERT INTO tbl_board_free (
            <include refid="freeBoardColumns"/>
        ) VALUES (
            #{title}
            ,#{content}
            ,#{writer}
            ,NOW()
            ,#{delete_yn}
            ,#{category}
            ,0
            ,0
            ,0
            ,#{member_idx}
        )


    </insert>
    
    <!--  게시글 수정  -->
    <update id="updateBoard" parameterType="FreeBoard">
        UPDATE tbl_board_free
        SET title = #{title}, content = #{content}, writer=#{writer}, update_time=NOW(),delete_time=#{delete_time},delete_yn=#{delete_yn},
            category=#{category}, viewcnt = #{viewcnt}, replycnt=#{replycnt}, likecnt=#{likecnt}, member_idx=#{member_idx}
        WHERE free_idx=#{free_idx}
    </update>

    <!--  게시글 삭제  -->
    <update id="deleteBoard" parameterType="int">
        UPDATE tbl_board_free
        SET delete_time=NOW(), delete_yn="Y"
        WHERE free_idx=#{free_idx}
    </update>

    <!-- 카테고리 가져오기 -->
    <!--<select id="category" resultType="">

    </select>-->
</mapper>