<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.itjunior.mapper.MemberMapper">

    <sql id="memberColumns">
          member_idx
        , userId
        , email
        , password
        , nickname
        , name
        , delete_yn
        , create_time
        , last_login_time
        , role
        , provider
        , providerId
        , uuid
    </sql>

    <insert id="insertOrUpdateMember" parameterType="Member">
        <selectKey keyProperty="member_idx" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO tbl_member (
            <include refid="memberColumns" />
        ) VALUES (
            #{member_idx}
            , #{userId}
            , #{email}
            , IFNULL(#{password}, password)
            , #{nickname}
            , #{name}
            , #{delete_yn}
            , NOW()
            , NULL
            , #{role}
            , #{provider}
            , #{providerId}
            , #{uuid}
        )
        ON DUPLICATE KEY UPDATE
            password = IFNULL(#{password}, password)
            , name = #{name}
            , nickname = #{nickname}
            , email = #{email}
    </insert>

    <!-- member_idx(PK)로 회원 상세정보 조회-->
    <select id="selectMemberByIdx" resultType="Member" parameterType="int">
        SELECT <include refid="memberColumns" />
        FROM tbl_member
        WHERE member_idx=#{member_idx}
    </select>

    <!-- userId(Unique key)로 회원 상세정보 조회-->
    <select id="selectMemberByUserId" resultType="Member" parameterType="String">
        SELECT <include refid="memberColumns" />
        FROM tbl_member
        WHERE userId=#{userId}
    </select>

    <!-- 아이디 찾기 (유저 이름과 이메일)-->
    <select id="findNameAndEmail" resultType="String" parameterType="Member">
        SELECT userId
        FROM tbl_member
        WHERE name=#{name} AND email=#{email}
    </select>

    <!-- 유저 ID와 이름으로 member_idx 찾기-->
    <select id="findUserIdAndName" resultType="int" parameterType="Member">
        SELECT member_idx
        FROM tbl_member
        WHERE userId=#{userId} AND name=#{name}
    </select>

    <!-- 회원 수정에서 비밀번호 변경-->
    <update id="changePasswordByIdx" parameterType="Member">
        UPDATE tbl_member
        SET password=#{password}
        WHERE member_idx=#{member_idx}
    </update>

    <!-- oauth 회원 탈퇴-->
    <delete id="deleteMemberByIdxForOauth" parameterType="int">
        DELETE FROM tbl_member
        WHERE
            member_idx=#{member_idx}
    </delete>
    <!-- 일반 유저 회원 탈퇴-->
    <delete id="deleteMemberByIdx" parameterType="Member">
        DELETE FROM tbl_member
        WHERE
            member_idx=#{member_idx}
        AND
            password=#{password}
    </delete>

    <!-- 회원 마지막 로그인 시간 체크-->
    <update id="updateLoginTime" parameterType="Member">
        UPDATE
            tbl_member
        SET
            last_login_time = NOW()
        WHERE
            userId=#{userId}
    </update>

    <!-- 회원가입 시 아이디 중복 확인 여부-->
    <select id="idCheck" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM tbl_member
        WHERE userId=#{userId}
    </select>

    <!-- 회원가입 시 이메일 중복 확인 여부-->
    <select id="emailCheck" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM tbl_member
        WHERE email=#{email}
    </select>

    <!-- 회원가입 시 닉네임 중복 확인 여부-->
    <select id="nickNameCheck" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM tbl_member
        WHERE nickname=#{nickname}
    </select>
</mapper>
