<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.itjunior.mapper.RecruitMapper">
    <sql id="recruitColumns">
          recruit_idx
        , job_idx
        , company_name
        , location
        , experience
        , close_date
        , close_type
        , category
        , salary
        , job_type
        , required_edu
        , url
        , applycnt
        , likecnt
    </sql>
    
    <insert id="insertRecruit" parameterType="RecruitDTO">
        INSERT INTO tbl_recruit (
            <include refid="recruitColumns" />
        ) VALUES (
            #{recruit_idx}
            , #{job_idx}
            , #{company_name}
            , #{location}
            , #{experience}
            , now()
            , #{close_type}
            , #{category}
            , #{salary}
            , #{job_type}
            , #{required_edu}
            , #{url}
            , #{applycnt}
            , 0
        )
    </insert>

    <select id="selectRecruitByIdx" resultType="RecruitDTO" parameterType="long">
        SELECT <include refid="recruitColumns"/>
        FROM tbl_recruit
        WHERE job_idx=#{job_idx}
    </select>
<!--    <select id="selectRecruitIdxByJobIdx" parameterType="long">-->
<!--        SELECT recruit_idx-->
<!--        FROM tbl_recruit-->
<!--        WHERE job_idx=#{job_idx}-->
<!--    </select>-->

    <select id="selectIsRecruitLike" resultType="int" parameterType="RecruitLike">
        SELECT count(*)
        FROM tbl_recruit_like
        WHERE recruit_idx=#{recruit_idx} AND member_idx=#{member_idx}
    </select>

    <insert id="insertRecruitLike" parameterType="RecruitLike">
        INSERT INTO tbl_recruit_like (
            like_idx,
            recruit_idx,
            member_idx
        ) VALUES (
            #{like_idx},
            #{recruit_idx},
            #{member_idx}
        )
    </insert>

    <delete id="deleteRecruitLike" parameterType="RecruitLike">
        DELETE FROM tbl_recruit_like
        WHERE recruit_idx=#{recruit_idx} AND member_idx=#{member_idx}
    </delete>

    <select id="selectLikeCount" resultType="int" parameterType="int">
        SELECT count(*)
        FROM tbl_recruit_like
        WHERE recruit_idx=#{recruit_idx}
    </select>

    <select id="selectKeyword" resultType="Category">
        select * from tbl_category where cate_code = 200
    </select>

</mapper>